    /*     
font-family: 'Flamenco', cursive;
font-family: 'Noto Sans JP', sans-serif; 
padding and margin  // 30px top bottom  // 20px left right

#1B1F3A - Prune
#53354A - Prune accent
#A64942 - Rouge-Orange
#FF7844 - Orange accent
#000000 - Blanc


Thin 100
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
Extra-bold 800
Black 900


12px = 0.75rem
16px = 1rem (base)
18px = 1.125rem
24px = 1.5rem
36px = 2.25rem
48px = 3rem
   


*/
    
    html {
        /* 100% est egal a 16px */
        font-size: 100%;
        font-family: 'Hepta Slab', serif;
        background-color: black;
    }
    
    h1 {
        font-family: 'Italiana', serif;
        font-size: 3rem;
        font-weight: 400;
        color: white;
    }
    
    h2 {
        font-size: 2.25rem;
        font-weight: 300;
        color: white;
    }
    
    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
    }
    
    h4 {
        font-size: 1.125rem;
        font-weight: 200;
        color: #A64942;
    }
    
    h5 {
        font-size: 1rem;
        font-weight: 300;
        color: #A64942;
    }
    
    h6,
    .h6 {
        font-size: 0.75rem;
        font-weight: 700;
        color: #FF7844;
    }
    
    p {
        font-size: 1rem;
    }
    
    .maj {
        text-transform: uppercase;
    }
    
    .txtblack {
        color: black;
    }
    
    .center {
        justify-content: center;
        text-align: center;
    }
    
    .spacecenter {
        margin: 0 auto;
        display: inline-block;
    }
    
    .pruneaccent {
        color: #53354A;
    }
    
    menu>li {
        list-style-type: none;
    }
    
    menu li a {
        font-size: 18px;
        color: #000;
        text-decoration: none;
        font-weight: 200;
    }
    
    nav {
        background-color: #000;
    }
    
    .logo {
        margin-left: 100px;
        display: flex;
        max-width: 300px;
    }
    
    .flex {
        display: flex;
        flex-direction: column;
        flex: wrap;
        justify-content: center;
    }
    
    .profil {
        width: 500px;
    }
    
    .picture {
        border-radius: 3000px;
        width: 70%;
        align-self: center;
    }
    
    .picture_profil {
        border-radius: 3000px;
        width: 50%;
        align-self: center;
    }
    
    .bonhomme {
        width: 5%;
    }
    
    .button {
        text-align: center;
        padding: 10px;
        background-color: #FF7844;
        color: #fff;
        font-family: 'Hepta Slab', serif;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        display: block;
        border: none;
        margin: 20px auto;
        border-radius: 3px;
        margin: 30px 0;
    }
    
    .champs {
        display: flex;
        flex-flow: row wrap;
        width: 70%;
        justify-content: center;
        background-color: transparent;
    }
    
    .card {
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    
    textarea {
        font-size: 16px;
        color: white;
        min-height: 40%;
        min-width: 100%;
        margin-top: 25px;
    }
    
    .margintop50 {
        margin-top: 50px;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 2;
    }
    
    .aside {
        background-color: #FFF;
        margin: 0;
        border-radius: 10px;
    }
    
    .aside>h2 {
        margin: 50px 50px;
    }
    
    .cv {
        padding-bottom: 0;
    }
    
    .aside,
    .aside>p,
    .aside>a,
    time {
        margin: 0 50px;
        padding-bottom: 50px;
        font-size: 1rem;
    }
    
    .cv,
    .cv>img {
        padding-bottom: 0;
        border-radius: 20px;
    }
    
    .aside_img {
        width: 100%;
        display: block;
        max-width: 100%;
        box-sizing: border-box;
        border-radius: 10px 10px 0 0;
    }
    
    .aside_short_img {
        min-height: 300px;
    }
    
    input:placeholder {
        color: #999;
    }
    
    input {
        color: white;
    }
    
    select {
        display: flex;
        font-size: 16px;
        background-color: transparent;
        color: white;
        margin: 25px 0;
        border: 0.1px solid #f2f2f2;
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px black inset !important;
    }
    
    input:-webkit-autofill {
        -webkit-text-fill-color: white !important;
    }
    
    .text_intro {
        color: #fff;
        font-weight: 500;
        margin-bottom: 100px;
        font-size: 3rem;
    }
    
    nav {
        padding-right: 60px;
        padding-top: 60px;
    }
    
    span {
        color: #FF7844;
    }
    
    form>p {
        display: inline-block;
    }
    
    footer img {
        height: 50px;
    }
    /* ***CALL TO ACTION** */
    
    .show-btn {
        background: #fff;
        padding: 10px 30px;
        font-size: 20px;
        font-weight: 500;
        color: white;
        background-color: black;
        border: 1px solid rgba(255, 255, 255, 0.5);
        opacity: 1;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        transition: 1s all ease-in-out;
    }
    
    .show-btn:hover {
        background-color: #FF7844;
        color: white;
        transition: .3s all ease-in-out;
    }
    
    .show-btn,
    .container {
        position: absolute;
        top: 30%;
        left: -5.5%;
        transform: translate(20%, -50%);
    }
    
    input[type="checkbox"] {
        display: none;
    }
    
    .container {
        top: 40%;
        left: -5.5%;
        display: none;
        background: #fff;
        width: 410px;
        padding: 30px;
        border-bottom-right-radius: 5%;
        border-top-right-radius: 5%;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }
    
    #show:checked~.container {
        display: block;
    }
    
    .container .close-btn {
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 1.125rem;
        cursor: pointer;
    }
    
    .container .text {
        font-size: 35px;
        font-weight: 600;
        text-align: center;
    }
    
    .container form {
        margin-top: -20px;
    }
    
    .container form .data {
        height: 45px;
        width: 100%;
        margin: 40px 0;
    }
    
    form .data label {
        font-size: 1.125rem;
    }
    
    form .btn {
        margin: 30px 0;
        height: 45px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: #53354A;
        transition: 1s all ease-in-out;
    }
    
    form .btn:hover {
        background-color: #FF7844;
        opacity: 0.8;
        transition: 1s all ease-in-out;
    }
    
    form .btn .inner {
        height: 100%;
        width: 300%;
        position: absolute;
    }
    
    form .btn button {
        height: 100%;
        width: 100%;
        background: none;
        border: none;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }
    /* ***END CALL TO ACTION** */
    /* ******ANIMATIONS*** */
    /* Ligne orange sous les éléments du menu */
    
    a {
        position: relative;
        /* **look menu plus espacé** */
        /* padding: 1rem 0 0.5rem;
        margin: 0 1.5rem; */
    }
    
    a::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) scaleX(0);
        transform-origin: 0% 50%;
        /* **50% 50% pour que la ligne parte du milieu vers l'extérieur** */
        width: 80%;
        height: 1px;
        background-color: #FF7844;
        transition: transform 250ms;
    }
    
    a:hover::after {
        transform: translateX(-50%) scaleX(1);
    }
    /* FIN animation du menu */
    /* autre option d'animation */
    /*  .logo_transition:hover {
        color: #FF7844;
        transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    } */
    /* *** Animation du O en Keyframe** */
    
    .lettre_o {
        top: 8%;
        left: 16.6%;
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 80%;
        position: absolute;
        animation: animationO 1s;
        animation-iteration-count: 3;
        animation-timing-function: linear;
    }
    
    @keyframes animationO {
        0% {
            top: 8%;
            left: 0%;
        }
        50% {
            top: 8%;
            left: 50%;
        }
        100% {
            top: 8%;
            left: 100%;
        }
    }
    
    .animelogo {
        transform-origin: 5px 5px;
        animation: anime 3s infinite;
    }
    
    @keyframes anime {
        0% {}
        100% {
            transform: scale(1.2)
            /* transform: translateX(100px); */
        }
    }
    
    @media screen and (min-width: 901px) {
        .wrapper {
            /* width: 1024px; */
            margin: 0 auto;
            padding: 125px 150px 0 150px;
            font-size: 3rem;
        }
        .container a {
            padding: 150px 10px 60px 10px;
        }
        .card {
            margin-left: 20px;
        }
    }
    
    @media (max-width: 900px) {
        .wrapper {
            /* width: 1024px; */
            margin: 0 auto;
            padding: 60px 60px 0 60px;
            font-size: 2rem;
        }
        .container a {
            padding: 60px 5px 30px 5px;
        }
        section {
            display: flex;
        }
        label {
            display: inline;
        }
        .card {
            margin-left: 20px;
        }
        .text_intro {
            margin-bottom: 60px;
            font-size: 2rem;
        }
    }